.termDetail footer {
  padding: 24px 0;
}

.termDetail .termHeading {
  padding: 0;
}

.termDetail .checkbox {
  font-size: 1.0em;
  line-height: 1.0em;
  float: left;
}

.termDetail form {
  margin-bottom: 0;
}

.termDetail input.term-edit-heading {
  display: inline-block;
  font-size: 1.0em;
  line-height: 1.0em;
  padding: 0;
  border: 0;
}

.termDetail .addComment {
  padding: 24px;
  display: block;
  background: #eee;
  font-size: 1.5em;
}

.termDetail .addComment form {
  margin-bottom: 0;
}

.termDetail .addComment label {
  float: left;
  padding-right: 12px;
  font-size: 1.5em;
  line-height: 2.0em;
}

.termDetail .addComment input[type=text] {
  font-size: 1.5em;
  line-height: 2.0em;
  height: 2.0em;
  padding: 0 12px;
  width: 50%;
  float: left;
}

.termDetail .addComment button {
  float: left;
  font-size: 1.5em;
  line-height: 2.0em;
  height: 2.0em;
}

.termDetail .addComment form:before, .termDetail .addComment form:after {
  content: " ";
  display: table;
}

.termDetail .addComment form:after {
  clear: both;
}

.termDetail .termComments ul {
  padding: 0;
  margin: 0;
}

.termDetail .termComments ul li {
  list-style-type: none;
  margin: 12px 0;
  padding: 12px 6px;
  border-bottom: 1px solid #eee;
}

.termDetail .termComments ul li .text {
  font-size: 1.25em;
  display: block;
  margin-bottom: 6px;
}

.termDetail .termComments ul li .date {
  color: #666;
}
