td-todo-heading .todoHeading {
  padding: 0;
}

td-todo-heading .checkbox {
  font-size: 1.0em;
  line-height: 1.0em;
  float: left;
}

td-todo-heading form {
  margin-bottom: 0;
}

td-todo-heading input.todo-edit-heading {
  display: inline-block;
  font-size: 1.0em;
  line-height: 1.0em;
  padding: 0;
  border: 0;
}
