<div class="todoHeading">
  <h1 class="todo-edit-heading" ng-hide="editingText" ng-click="editingText = todo.text || true" ng-bind="todo.text"></h1>
  <form ng-show="editingText" ng-submit="updateHeading(todo)">
    <input class="todo-edit-heading" ng-model="todo.text">

    <a ng-click="editingText = !(todo.text = editingText)">
      Cancel
    </a>
  </form>

  <p>
    <input type="checkbox" ng-model="todo.done">
    This todo is <strong ng-hide="todo.done">not</strong> complete.
  </p>
</div>
