<div class="todoList">
  <h1>My Todos</h1>

  <ul>
    <li ng-repeat="todo in todoList.todos | orderBy:'done':true track by todo.id" ng-class="{done: todo.done}">
      <input type="checkbox" ng-change="todoList.todoChanged(todo)" ng-model="todo.done">
      <a ng-href="/#/todo/{{todo.id}}">{{todo.text}}</a>
    </li>
  </ul>

  <div class="createTodoForm">
    <h2>Add a Todo</h2>

    <form
      name="newTodoForm"
      ng-submit="todoList.saveTodo()">

      <label for="newTodo.text">
        What to do:
      </label>

      <input
        type="text"
        ng-model="newTodo.text"
        required>

      <button
        ng-disabled="!newTodoForm.$valid"
        ng-click="newTodoForm.submit()">
        Add Todo
      </button>
    </form>
  </div>
</div>
