td-todo-comments ul {
  padding: 0;
  margin: 0;
}

td-todo-comments ul li {
  list-style-type: none;
  margin: 12px 0;
  padding: 12px 6px;
  border-bottom: 1px solid #eee;
}

td-todo-comments ul li .text {
  font-size: 1.25em;
  display: block;
  margin-bottom: 6px;
}

td-todo-comments ul li .date {
  color: #666;
}
