td-todo-list ul {
  padding-left: 0;
  width: 100%;
  font-size: 2em;
}

td-todo-list ul li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin: 0;
  padding: 12px;
}

td-todo-list ul li:hover {
  background-color: #eee;
}

td-todo-list ul li a {
  color: #333;
  text-decoration: none;
}

td-todo-list ul li a:hover {
  color: #333;
}

td-todo-list ul li.done {
  text-decoration: line-through;
  color: gray;
  font-style: oblique;
}

td-todo-list ul li a.checkbox {
  cursor: pointer;
}