<div class="todoDetail">
  <div class="todoHeading">
    <h1 ng-class="{'not-editing':!editingText, 'editing':editingText}">
      <a ng-click="todoDetail.todo.done = !todoDetail.todo.done" class="checkbox">
        <span ng-show="todoDetail.todo.done">&#x2611;</span>
        <span ng-hide="todoDetail.todo.done">&#x2610;</span>
      </a>

      <form ng-submit="updateHeading(todoDetail.todo)">
        <input class="todo-edit-heading" ng-model="todoDetail.todo.text" ng-focus="editingText = true" ng-blur="updateHeading(todoDetail.todo, (editingText = false))">
      </form>
    </h1>
  </div>

  <div class="addComment">
    <form ng-submit="todoDetail.addComment(todoDetail.newComment)" name="newCommentForm">
      <input type="text" ng-model="todoDetail.newComment.text" required>
      <button ng-disabled="newCommentForm.$invalid" type="submit">Add Comment</button>
    </form>
  </div>

  <td-todo-comments todo-id="todoDetail.todoId"></td-todo-comments>
  <footer>
    <a href="/#/">&laquo; All Todos</a>
  </footer>
</div>
