td-add-comment {
  padding: 24px;
  display: block;
  background: #eee;
  font-size: 1.5em;
}

td-add-comment form {
  margin-bottom: 0;
}

td-add-comment label {
  float: left;
  padding-right: 12px;
  font-size: 1.5em;
  line-height: 2.0em;
}

td-add-comment input[type=text] {
  font-size: 1.5em;
  line-height: 2.0em;
  height: 2.0em;
  padding: 0 12px;
  width: 50%;
  float: left;
}

td-add-comment button {
  float: left;
  font-size: 1.5em;
  line-height: 2.0em;
  height: 2.0em;
}

td-add-comment form:before, td-add-comment form:after {
  content: " ";
  display: table;
}

td-add-comment form:after {
  clear: both;
}
