.termsList .createTermForm {
  display: block;
  background: #eee;
  font-size: 1.5em;
  padding: 0 12px 24px;
}

.termsList .createTermForm h2 {
  margin: 0;
  line-height: 2.5em;
  font-size: 2.0em;
}

.termsList .createTermForm label {
  float: left;
  padding-right: 12px;
  font-size: 1.5em;
  line-height: 2.0em;
}

.termsList .createTermForm input[type=text] {
  font-size: 1.5em;
  line-height: 2.0em;
  height: 2.0em;
  padding: 0 12px;
  width: 50%;
  float: left;
}

.termsList .createTermForm button {
  float: left;
  font-size: 1.5em;
  line-height: 2.0em;
  height: 2.0em;
}

.termsList .createTermForm form:before, .createTermForm form:after {
  content: " ";
  display: table;
}

.termsList .createTermForm form:after {
  clear: both;
}

.termsList ul {
  padding-left: 0;
  width: 100%;
  font-size: 2em;
}

.termsList ul li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin: 0;
  padding: 12px;
  cursor: pointer;
}

.termsList ul li .definition {
  font-size: 0.5em;
}

.termsList ul li:hover {
  background-color: #eee;
}

.termsList ul li a {
  display: block;
  color: #333;
  text-decoration: none;
}

.termsList ul li a:hover {
  color: #333;
}

.termsList ul li a.checkbox {
  cursor: pointer;
}